*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body{
    background-color: #712f79;
}

.container{
    font-size: 16px;
    background-color: #b4d4ee;
    width: 90vw;
    max-width: 30em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 3em;
    border-radius: 0.6em;
    box-shadow: 0 1.2em 2.4em black;
}